/* CSS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    /* Primary Colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    /* Neutral Colors */
    --dark-blue-1: hsl(217, 54%, 11%); /* Main background */
    --dark-blue-2: hsl(216, 50%, 16%); /* Card background */
    --dark-blue-3: hsl(215, 32%, 27%); /* Line color */
    --white: #ffffff;

    --round-radius: 20px;
}





/* HTML Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: var(--dark-blue-1);
    box-sizing: border-box;
    color: var(--soft-blue);

    font-family: "Outfit", Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h3 {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
}

p {
    font-weight: 300;
    font-size: 18px;
}

hr {
    background-color: var(--dark-blue-3);
    border: none;
    height: 1px;
}

main {
    display: grid;
    align-content: center;

    margin: 0 auto;
    max-width: 1440px;
    min-width: 375px;

    width: 90%;
    height: 92%;
}





/* Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.attribution { 
    font-size: 11px; 
    text-align: center;
    height: 8%;
 }

    .attribution a { 
        color: var(--cyan); 
    }




/* The (product) item */
.item {
    background-color: var(--dark-blue-2);
    border-radius: var(--round-radius);
    box-sizing: border-box;
    /**
     * Property: h-offset, v-offset, blur (optional), spread (optional), color (optional)
     */
    box-shadow: 0px 6px 25px 25px rgba(0, 0, 0, 0.1);
    padding: 25px;

    margin: 0 auto;
    width: 360px; 
    min-height: 600px;
}


/* Image display for the item */
.item-image {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}


/* Thumbnail image of the item */
.item-thumbnail, .item-thumbnail-overlay {
    border-radius: var(--round-radius);
    width: 100%;
    height: 100%;
}


/* Overlay for the thumbnail, to create highlight effect on hover*/
.item-thumbnail-overlay {
    position: absolute;
    top: 0;
    opacity: 0.4;
}
    .item-thumbnail-overlay > svg {
        color: var(--white);
        transform: translate3d(50%, 50%, 0);
    }



/* Title & description for the item. */
.item-description {

}
    .item-description h3 {
        margin: 20px 0;
    }

    .item-description p {
        line-height: 1.5;
    }


/* Sales information of the item. */
.item-sales-info {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    margin-bottom: 18px;
}

/* Display the price of the item. */
.item-price {
    color: var(--cyan);
}


/* User information for the item. */
.item-user-info {
    margin-top: 18px;
}

/* User's profile photo */
.item-user-photo {
    border-radius: 50%;
    border: 1px solid var(--white);
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

/* User's name. */
.item-user-name {
    color: var(--white);
}





/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* On hover, highlight the element */
.hoverable:hover {
    cursor: pointer;
    color: var(--cyan);
}   
    /* For div only, highlight the background color.*/
    div.hoverable:hover {  
        background-color: var(--cyan);
        color: var(--white);
    }


/* Use this when creating an icon followed by one-liner text */
.icon-text {
    display: inline-block;
    vertical-align: middle;
}
    .icon-text::before {    /* Add abit of margin before the actual content. */ 
        content: " ";
        margin-right: 2px;
    }
